.selector-container {
  display: flex;
  padding: 16px;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 8px;
}

ul {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border: 8px;
    font-size: 24px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 8px;
  }
}

#id {
  background-color: red;
  color: white;
}

.class {
  background-color: blue;
  color: white;
}

.first:first-child {
  background-color: green;
  color: white;
}

.class:hover {
  background-color: aquamarine;
}
